* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid gray;
    width: 22vw;
    margin: auto 39vw;
    background-color: rgb(0, 0, 0);
}

.cell {
    background-color: rgb(200, 150, 60);
    color: rgb(60, 50, 120);
    border: 1px solid black;
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    font-size: 40px;
    text-align: center;
}

.cell:hover {
    background-color: rgb(60, 50, 120);
    color: rgb(200, 150, 60);
}

#status {
    /* visibility: hidden; */
}